main h3 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #333333;
}

th {
    background: #FEE9DF;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #4F4F4F;
    padding: 15px;
}

td {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    padding: 15px;
    color: #000000;
}

.view-btn {
    background: #F56B2A !important;
}

.watch-1{
    background: #219653;
    padding: 5px;
    width: 25%;
    border-radius: 3px;
}

.watch-2 {
    background: #56CCF2;
    padding: 5px;
    width: 25%;
    border-radius: 3px;
}

.watch-3 {
    background: #2F80ED;
    padding: 5px;
    width: 25%;
    border-radius: 3px;
}

.watch-4 {
    background: #F2C94C;
    padding: 5px;
    width: 30%;
    border-radius: 3px;
}

.watch-5 {
    background: #F2994A;
    padding: 5px;
    width: 20%;
    border-radius: 3px;
}

.watch-6 {
    background: #EB5757;
    padding: 5px;
    width: 12%;
    border-radius: 3px;
}

td p{
    color: #fff;
}

