<div class="row">
    <app-sidebar class="col-lg-2 d-lg-block" id="navmenu"></app-sidebar>
    <div class="col-md-12 col-xs-12 ms-sm-auto col-lg-10 px-md-4">
        <app-header></app-header>
        <main class="container">
            <h3>Not Yet Contacted</h3>
            <div class="container dashboard-main-container p-4">
                <div class="row">
                    <div class="input-group mb-3 col-4 mx-2">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username"
                            aria-describedby="basic-addon2">
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th scope="col">
                                <mat-checkbox class="example-margin"></mat-checkbox>
                            </th>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">IPPIS No</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Tenor</th>
                            <th scope="col">Date</th>
                            <th scope="col">Mode</th>
                            <th scope="col">MDA Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <mat-checkbox class="example-margin"></mat-checkbox>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger mx-3 view-btn">View</button>
                            </td>
                            <td>
                                Celestine Ojiaku
                            </td>
                            <td>okenufrancisca@gmail.com</td>
                            <td>08066075282</td>
                            <td>490535</td>
                            <td>N300,000</td>
                            <td>Unfinalized</td>
                            <td>21/04/21</td>
                            <td>Web</td>
                            <td>National Board for Arabic and Islamic Studies</td>
                        </tr>
                        <tr>
                            <td>
                                <mat-checkbox class="example-margin"></mat-checkbox>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger mx-3 view-btn">View</button>
                            </td>
                            <td>
                                Celestine Ojiaku
                            </td>
                            <td>okenufrancisca@gmail.com</td>
                            <td>08066075282</td>
                            <td>490535</td>
                            <td>N300,000</td>
                            <td>Unfinalized</td>
                            <td>21/04/21</td>
                            <td>Web</td>
                            <td>National Board for Arabic and Islamic Studies</td>
                        </tr>
                        <tr>
                            <td>
                                <mat-checkbox class="example-margin"></mat-checkbox>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger mx-3 view-btn">View</button>
                            </td>
                            <td>
                                Celestine Ojiaku
                            </td>
                            <td>okenufrancisca@gmail.com</td>
                            <td>08066075282</td>
                            <td>490535</td>
                            <td>N300,000</td>
                            <td>Unfinalized</td>
                            <td>21/04/21</td>
                            <td>Web</td>
                            <td>National Board for Arabic and Islamic Studies</td>
                        </tr>
                        <tr>
                            <td>
                                <mat-checkbox class="example-margin"></mat-checkbox>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger mx-3 view-btn">View</button>
                            </td>
                            <td>
                                Celestine Ojiaku
                            </td>
                            <td>okenufrancisca@gmail.com</td>
                            <td>08066075282</td>
                            <td>490535</td>
                            <td>N300,000</td>
                            <td>Unfinalized</td>
                            <td>21/04/21</td>
                            <td>Web</td>
                            <td>National Board for Arabic and Islamic Studies</td>
                        </tr>
                        <tr>
                            <td>
                                <mat-checkbox class="example-margin"></mat-checkbox>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger mx-3 view-btn">View</button>
                            </td>
                            <td>
                                Celestine Ojiaku
                            </td>
                            <td>okenufrancisca@gmail.com</td>
                            <td>08066075282</td>
                            <td>490535</td>
                            <td>N300,000</td>
                            <td>Unfinalized</td>
                            <td>21/04/21</td>
                            <td>Web</td>
                            <td>National Board for Arabic and Islamic Studies</td>
                        </tr>
                        <tr>
                            <td>
                                <mat-checkbox class="example-margin"></mat-checkbox>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger mx-3 view-btn">View</button>
                            </td>
                            <td>
                                Celestine Ojiaku
                            </td>
                            <td>okenufrancisca@gmail.com</td>
                            <td>08066075282</td>
                            <td>490535</td>
                            <td>N300,000</td>
                            <td>Unfinalized</td>
                            <td>21/04/21</td>
                            <td>Web</td>
                            <td>National Board for Arabic and Islamic Studies</td>
                        </tr>
                        <tr>
                            <td>
                                <mat-checkbox class="example-margin"></mat-checkbox>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger mx-3 view-btn">View</button>
                            </td>
                            <td>
                                Celestine Ojiaku
                            </td>
                            <td>okenufrancisca@gmail.com</td>
                            <td>08066075282</td>
                            <td>490535</td>
                            <td>N300,000</td>
                            <td>Unfinalized</td>
                            <td>21/04/21</td>
                            <td>Web</td>
                            <td>National Board for Arabic and Islamic Studies</td>
                        </tr>
                    </tbody>
                </table>




            </div>
        </main>
    </div>
</div>