<nav class="sidebar-nav py-5">
    <div class="position-sticky">
        <div class="px-auto py-3 text-center">
            <h2 class="dash-heading">CreditWallet</h2>
        </div>
        <ul class="nav flex-column dash-slider-item">
            <div class="py-5">
                <div class="dash-main">
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active">
                            <img src="./assets/hand-holding-dollar-solid.svg" alt="money in hand icon" class="me-2" width="20px" />
                            <span>Dashboard</span>
                        </a>
                    </li>
                </div>
                
                <li class="nav-item py-2">
                    <a class="nav-link" routerLink="/loans" routerLinkActive="active">
                        <img src="./assets/hand-holding-dollar-solid.svg" alt="money in hand icon" class="me-2" width="20px"/>
                        Loans
                    </a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link" routerLink="/recovery" routerLinkActive="active">
                        <img src="./assets/rotate-solid.svg" alt="rotate icon" class="me-2" width="20px" />
                        Recovery
                    </a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link" routerLink="/verification" routerLinkActive="active">
                        <img src="./assets/circle-check-solid.svg" alt="rotate icon" class="me-2" width="20px" />
                        Verification
                    </a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link" routerLink="/orders" routerLinkActive="active">
                        <img src="./assets/circle-check-solid.svg" alt="rotate icon" class="me-2" width="20px" />
                        Reports
                    </a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link" routerLink="/accepted-orders" routerLinkActive="active">
                        <img src="./assets/circle-check-solid.svg" alt="rotate icon" class="me-2" width="20px" />
                        Deductions
                    </a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link" routerLink="/delivered-orders" routerLinkActive="active">
                        <img src="./assets/circle-check-solid.svg" alt="rotate icon" class="me-2" width="20px" />
                        Return Business
                    </a>
                </li>

                <li class="nav-item py-2">
                    <a class="nav-link" routerLink="/picked-orders" routerLinkActive="active">
                        <img src="./assets/circle-check-solid.svg" alt="rotate icon" class="me-2" width="20px" />
                        Loandisk Operations
                    </a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link" routerLink="/picked-orders" routerLinkActive="active">
                        <img src="./assets/circle-check-solid.svg" alt="rotate icon" class="me-2" width="20px" />
                        Utilities
                    </a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link" routerLink="/picked-orders" routerLinkActive="active">
                        <img src="./assets/circle-check-solid.svg" alt="rotate icon" class="me-2" width="20px" />
                        User Management
                    </a>
                </li>
            </div>
        </ul>
    </div>
</nav>