<div class="row">
    <!-- main sidebar component -->
    <nav class="sidebar-nav py-5 col">
        <div class="position-sticky">
            <div class="px-auto py-3 text-center">
                <h2 class="dash-heading">CreditWallet</h2>
            </div>
            <ul class="nav flex-column dash-slider-item">
                <div class="py-5">
                    <div class="dash-main">
                        <li class="nav-item py-2">
                            <a class="nav-link" routerLink="/home" routerLinkActive="active">
                                <img src="./assets/dashboard-icon-min.png" alt="dashboard-icon" class="me-2"
                                    width="20px" />
                                <span>Dashboard</span>
                            </a>
                        </li>
                    </div>
    
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="/loans" routerLinkActive="active">
                            <img src="./assets/loans-icon-min.png" alt="loans-icon-min" class="me-2"
                                width="20px" />
                            Loans
                        </a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="#" routerLinkActive="active" (click)="openExtendedSidebar()">
                            <img src="./assets/recovery-icon-min.png" alt="recovery-icon" class="me-2" width="20px" />
                            Recovery
                        </a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="/verification" routerLinkActive="active">
                            <img src="./assets/verification-icon-min.png" alt="verification-icon" class="me-2" width="20px" />
                            Verification
                        </a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="#" routerLinkActive="active">
                            <img src="./assets/reports-icon-min.png" alt="reports-icon" class="me-2" width="20px" />
                            Reports
                        </a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="#" routerLinkActive="active">
                            <img src="./assets/deduction-icon-min.png" alt="deduction-icon" class="me-2" width="20px" />
                            Deductions
                        </a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="#" routerLinkActive="active">
                            <img src="./assets/profits-icon-min.png" alt="profits-icon" class="me-2" width="20px" />
                            Return Business
                        </a>
                    </li>
    
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="#" routerLinkActive="active">
                            <img src="./assets/disk-icon-min.png" alt="disk-icon" class="me-2" width="20px" />
                            Loandisk Operations
                        </a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="#" routerLinkActive="active">
                            <img src="./assets/repair-tools-icon-min.png" alt="repair-tools-icon" class="me-2" width="20px" />
                            Utilities
                        </a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="#" routerLinkActive="active">
                            <img src="./assets/people-icon-min.png" alt="people-icon" class="me-2" width="20px" />
                            User Management
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>

    <!-- extended sidebar -->
    <nav class="py-5 col extended-sidebar" *ngIf="!isOpen">
        <div class="">
            <div class="px-auto py-3 text-center d-flex justify-content-between">
                <h2 class="extended-dash-heading">Recovery</h2> 
                <img src="./assets/is-less-than-min.png" alt="less than icon" class="me-2" width="20px" height="20px" (click)="openExtendedSidebar()"/>
            </div>
            <ul class="nav flex-column extended-dash-slider-item">
                <div class="py-5">
                    <div class="dash-main">
                        <li class="nav-item py-2">
                            <a class="nav-link" routerLink="/recovery" routerLinkActive="active">
                                <span>Overview</span>
                            </a>
                        </li>
                    </div>
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="/recovery-not-yet-contacted" routerLinkActive="active">
                            Not Yet Contacted
                        </a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="#" routerLinkActive="active">
                            Not Reachable
                        </a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="#" routerLinkActive="active">
                            Dispute
                        </a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="#" routerLinkActive="active">
                            Performing
                        </a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="#" routerLinkActive="active">
                            Tentative
                        </a>
                    </li>
    
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="#" routerLinkActive="active">
                            Loss
                        </a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="#" routerLinkActive="active">
                            Partially Paid
                        </a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="#" routerLinkActive="active">
                            Fully Paid
                        </a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" routerLink="#" routerLinkActive="active">
                            Recovery Report
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
</div>