<div class="row">

    <!-- sidebar section -->
    <div class="col-2 d-lg-block d-sm-none siderbar-menu">
        <app-sidebar id="navmenu"></app-sidebar>
    </div>
    <!-- main content and header section -->
    <div class="col">
        <section>
            <app-header></app-header>
            <main class="container">
                <h3>Awaiting Disbursement</h3>
                <div class="container dashboard-main-container p-4">
                    <div class="tab-btn-holder2 d-flex flex-wrap mb-4">
                        <button type="button" class="btn active-tab border-bottom">Awaiting Disbursement</button>
                        <button type="button" class="btn">Ready For Processing</button>
                        <button type="button" class="btn">Error in Processing</button>
                    </div>
                    <div>
                        <div class="input-group mb-3 col-4 mx-2" style="width:50%;">
                            <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username"
                                aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <div style="overflow-x:auto;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                        
                                    <th scope="col">
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">IPPIS No</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Tenor</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Mode</th>
                                    <th scope="col">MDA Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger mx-3 view-btn">View</button>
                                    </td>
                                    <td>
                                        Celestine Ojiaku
                                    </td>
                                    <td>okenufrancisca@gmail.com</td>
                                    <td>08066075282</td>
                                    <td>490535</td>
                                    <td>N300,000</td>
                                    <td>Unfinalized</td>
                                    <td>21/04/21</td>
                                    <td>Web</td>
                                    <td>National Board for Arabic and Islamic Studies</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger mx-3 view-btn">View</button>
                                    </td>
                                    <td>
                                        Celestine Ojiaku
                                    </td>
                                    <td>okenufrancisca@gmail.com</td>
                                    <td>08066075282</td>
                                    <td>490535</td>
                                    <td>N300,000</td>
                                    <td>Unfinalized</td>
                                    <td>21/04/21</td>
                                    <td>Web</td>
                                    <td>National Board for Arabic and Islamic Studies</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger mx-3 view-btn">View</button>
                                    </td>
                                    <td>
                                        Celestine Ojiaku
                                    </td>
                                    <td>okenufrancisca@gmail.com</td>
                                    <td>08066075282</td>
                                    <td>490535</td>
                                    <td>N300,000</td>
                                    <td>Unfinalized</td>
                                    <td>21/04/21</td>
                                    <td>Web</td>
                                    <td>National Board for Arabic and Islamic Studies</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger mx-3 view-btn">View</button>
                                    </td>
                                    <td>
                                        Celestine Ojiaku
                                    </td>
                                    <td>okenufrancisca@gmail.com</td>
                                    <td>08066075282</td>
                                    <td>490535</td>
                                    <td>N300,000</td>
                                    <td>Unfinalized</td>
                                    <td>21/04/21</td>
                                    <td>Web</td>
                                    <td>National Board for Arabic and Islamic Studies</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger mx-3 view-btn">View</button>
                                    </td>
                                    <td>
                                        Celestine Ojiaku
                                    </td>
                                    <td>okenufrancisca@gmail.com</td>
                                    <td>08066075282</td>
                                    <td>490535</td>
                                    <td>N300,000</td>
                                    <td>Unfinalized</td>
                                    <td>21/04/21</td>
                                    <td>Web</td>
                                    <td>National Board for Arabic and Islamic Studies</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger mx-3 view-btn">View</button>
                                    </td>
                                    <td>
                                        Celestine Ojiaku
                                    </td>
                                    <td>okenufrancisca@gmail.com</td>
                                    <td>08066075282</td>
                                    <td>490535</td>
                                    <td>N300,000</td>
                                    <td>Unfinalized</td>
                                    <td>21/04/21</td>
                                    <td>Web</td>
                                    <td>National Board for Arabic and Islamic Studies</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger mx-3 view-btn">View</button>
                                    </td>
                                    <td>
                                        Celestine Ojiaku
                                    </td>
                                    <td>okenufrancisca@gmail.com</td>
                                    <td>08066075282</td>
                                    <td>490535</td>
                                    <td>N300,000</td>
                                    <td>Unfinalized</td>
                                    <td>21/04/21</td>
                                    <td>Web</td>
                                    <td>National Board for Arabic and Islamic Studies</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            
            
            
            
                </div>
            </main>
        </section>
    </div>
</div>