main h3 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #333333;
}

.tab-btn-holder2 {
    height: 44px;
    /* border: 1px solid #E0E0E0; */
    border-radius: 5px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
}

.active-tab {
    color: #F56B2A;
    border-bottom: 1px solid #F56B2A !important;
}

th {
    background: #FEE9DF;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #4F4F4F;
    padding: 15px;
}

td {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    padding: 15px;
    color: #000000;
}

.view-btn {
    background: #F56B2A !important;
}