@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body{
    width: 100% !important;
    height: 100vh !important;
}

.dashboard-main-container {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.1);
    font-family: 'Josefin Sans';
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
