<div class="row">
<app-sidebar class="col-lg-2 d-lg-block" id="navmenu"></app-sidebar>
<div class="col-md-12 col-xs-12 ms-sm-auto col-lg-10 px-md-4">
    <app-header></app-header>
    <main class="container">
        <h3>Incomplete Actions</h3>
        <div class="container dashboard-main-container p-4">
            <table class="table table-bordered table-striped table-hover row-border hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Image</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Phone</th>
                        <th>Activation Status</th>
                        <th>Salary</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th>Action</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button class="btn cta-btn me-2" style="text-transform: uppercase">
                            View
                        </button>
                        </td>
                        <td>Celestine Ojiaku</td>
                        <td>okenufrancisca@gmail.com</td>
                        <td>08066075282</td>
                        <td>490535</td>
                        <td>N300,000</td>
                        <td>Unfinalized</td>
                        <td>21/04/21</td>
                        <td>Web</td>
                        <td>National Board for Arabic and Islamic Studies</td>
                        
                        <td>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
</div>