main h3{
    
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #333333;
}

th{
    background: #FEE9DF;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #4F4F4F;
    padding: 15px;
}

td{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    padding: 15px;
    color: #000000;
}

.view-btn{
    background: #F56B2A !important;
}