<div class="row">
    <app-sidebar class="col-lg-2 d-lg-block" id="navmenu"></app-sidebar>
    <div class="col-md-12 col-xs-12 ms-sm-auto col-lg-10 px-md-4">
        <div class="container">
            <section>
                <app-header></app-header>
                <main class="container">
                    <h3>Recovery Overview</h3>
                    <div class="dashboard-main-container p-4">
                        <div class="row card-widget single-card">
                            <div class="card mx-2">
                                <div class="card-body">
                                    
                        
                                    <div class="py-5">
                                        <h2>₦470,000.00</h2>
                                    </div>
                        
                                </div>
                            </div>
                        </div>
                        <div class="row card-widget mt-4">
                            <div class="card col mx-2">
                                <div class="card-body">
                                    <h3 class="py-3">Total</h3>
                        
                                    <div class="py-2">
                                        <h2>₦470,000.00</h2>
                                    </div>
                        
                                    <div class="pt-3">
                                        <p>3196 Loans</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card col mx-2">
                                <div class="card-body">
                                    <h3 class="py-3">Total</h3>
                            
                                    <div class="py-2">
                                        <h2>₦470,000.00</h2>
                                    </div>
                            
                                    <div class="pt-3">
                                        <p>3196 Loans</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card col mx-2">
                                <div class="card-body">
                                    <h3 class="py-3">Total</h3>
                            
                                    <div class="py-2">
                                        <h2>₦470,000.00</h2>
                                    </div>
                            
                                    <div class="pt-3">
                                        <p>3196 Loans</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card col mx-2">
                                <div class="card-body">
                                    <h3 class="py-3">Total</h3>
                                    
                            
                                    <div class="py-2">
                                        <h2>₦470,000.00</h2>
                                    </div>
                            
                                    <div class="pt-3">
                                        <p>3196 Loans</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row card-widget mt-4">
                            <div class="card col mx-2">
                                <div class="card-body">
                                    <h3 class="py-3">Total</h3>
                        
                                    <div class="py-2">
                                        <h2>₦470,000.00</h2>
                                    </div>
                        
                                    <div class="pt-3">
                                        <p>3196 Loans</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card col mx-2">
                                <div class="card-body">
                                    <h3 class="py-3">Total</h3>
                        
                                    <div class="py-2">
                                        <h2>₦470,000.00</h2>
                                    </div>
                        
                                    <div class="pt-3">
                                        <p>3196 Loans</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card col mx-2">
                                <div class="card-body">
                                    <h3 class="py-3">Total</h3>
                        
                                    <div class="py-2">
                                        <h2>₦470,000.00</h2>
                                    </div>
                        
                                    <div class="pt-3">
                                        <p>3196 Loans</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card col mx-2">
                                <div class="card-body">
                                    <h3 class="py-3">Total</h3>
                        
                        
                                    <div class="py-2">
                                        <h2>₦470,000.00</h2>
                                    </div>
                        
                                    <div class="pt-3">
                                        <p>3196 Loans</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </section>
        </div>
    </div>
</div>